.header {
    background-color: black;
}

body {
    font-family: "Montserrat";
    color: #000;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.title-h1 {
    color: #000;
    font-size: 3rem;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 1%;
}


.title-section {
    text-align: center;
    height: 300px;
}


hr {
    color:  #8C52FF;
    position: relative;
    border: none;
    height: 2px;
    background: #8C52FF;
    top: 10px;
}


.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
  }

.padding-left {
    padding-left: 30px;
}

.nav-item {
    padding: 0px 10px;
    color: #000;
}

.navbar {
    padding: 15px 10px;
    --bs-navbar-color:black;
    --bs-navbar-hover-color: #8C52FF;
    
}

.nav-link {
    font-size: 1.1rem;
}

section{
    margin: 0px 30px 30px 30px;
}

.btn {
    margin: 0px 0px 30px 30px;
}

.btn-right {
    float: right;
}

/* Footer Section */

.footer {
  height: auto;
  margin-top: 2.5rem;
}
